@import "@/layouts/base_layout/css/base_layout.scss";

$minHeight: 645px; // Переопределено

@mixin selectedImgWrapper {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

@mixin activeSelectedImgWrapper {
    img {
        content: url('@/layouts/preprinting_layout/img/selected_active.svg');
    }
}

#sidebar {
    // Переопределено
    min-height: $minHeight;

    @media (max-height: $minHeight) {
        position: absolute;
    }
}


.content-center.rotate-preprinting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2/4;

    #left-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        #polotno {
            width: 472px;
            height: 398px;
            border: 3px solid #9A9A9A;
            border-radius: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #buttons-container {
            display: flex;
            flex-direction: column;
            align-items: start;

            button {

                display: flex;
                align-items: center;
                background: none;
                border: none;
                cursor: pointer;

                .img-wrapper {
                    width: 80px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        pointer-events: none;
                    }
                }

                span {
                    font-weight: 400;
                    font-size: 20px;
                    color: #C3C3C3;
                    margin-left: 28px;
                }

                &:first-of-type {
                    margin-bottom: 10px;

                    &:active {
                        span {
                            color: white;
                        }

                        img {
                            content: url('@/layouts/preprinting_layout/img/for_points_active.svg');
                        }
                    }

                }

                &:last-of-type {

                    span {
                        color: white;
                    }

                    // &:active {

                    //     span {
                    //         color: white;
                    //     }

                    //     img {
                    //         content: url('@/layouts/preprinting_layout/img/pr_vvod_active.svg');
                    //     }
                    // }
                }


            }
        }
    }

    #right-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .container-for-center-align {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .title {
                display: flex;
                align-items: center;

                span {
                    font-weight: 400;
                    font-size: 35px;
                    color: #D9D9D9;
                }

                button {
                    display: flex;
                    align-items: center;
                    margin-left: 45px;
                    background: none;
                    border: none;
                    cursor: pointer;

                    span {
                        margin-left: 20px;
                        font-weight: 400;
                        font-size: 14px;
                        color: #C3C3C3;
                    }

                    .selected-img-wrapper {
                        @include selectedImgWrapper();
                    }

                    &:active {
                        .selected-img-wrapper {
                            @include activeSelectedImgWrapper();
                        }

                        span {
                            color: white;
                        }
                    }
                }
            }

            .parameter-string {
                display: flex;
                align-items: center;
                margin-top: 5px;

                button {
                    background: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .selected-img-wrapper {
                        @include selectedImgWrapper()
                    }

                    &:active {
                        .selected-img-wrapper {
                            img {
                                content: url('@/layouts/preprinting_layout/img/keyboard_active.png');
                            }
                        }
                    }
                }

                .coord-name {
                    margin-left: 20px;
                    font-weight: 700;
                    font-size: 60px;
                    color: #9A9A9A;
                }

                .coord-value {
                    margin-left: 14px;
                    font-weight: 700;
                    font-size: 60px;
                    color: white;
                }
            }
        }
    }
}