<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main-setting-screen-styles.css" rel="stylesheet" />
    <title>Окно настроек</title>
</head>

<body>
    <div id="sidebar">
        <div id="sidebar-time-holder">12:39</div>
        <div id="sidebar-button-holder">
            <button class="sidebar-button menu"></button>
            <button class="sidebar-button move"></button>
            <button class="sidebar-button star"></button>
            <button class="sidebar-button settings"></button>
            <button class="sidebar-button back"></button>
        </div>
        <div id="sidebar-footer"></div>
    </div>

    <div id="content-container">
        <div id="content-header">
          <img class="xweld-logo" src="img/xweld_logo.png" >
        </div>
        <div id="content-center">
            <div class="button-container">
              <button class="settings-button">
                <div class = "picture-container">
                  <img src="img/settings_menu.svg">
                </div>
                <span>Настройки</span>
              </button>
            </div>

            <div class="button-container">
              <button class="maintenance-button">
                <div class="picture-container"><img src="img/maintenance-menu.png"></div><span>Обслуживание горелки</span></button>
            </div>

            <div class="button-container">
              <button class="console-button">
                <div class = "picture-container">
                  <img src="img/console-menu.png">
                </div>
                <span>Консоль</span>
              </button>
            </div>

            <div class="button-container-system">
              <button class="system-button">
                <div class = "system-picture-container">
                  <img src="img/system-menu.png">
                </div>
                <span>Система</span>
              </button>
            </div>

        </div>
        <div id="content-footer"></div>
    </div>

</body>

</html>