<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="maintenance-screen-styles.css" rel="stylesheet" />
    <title>Окно обслуживания горелки</title>
</head>

<body>
    <div id="sidebar">
        <div id="sidebar-time-holder">12:39</div>
        <div id="sidebar-button-holder">
            <button class="sidebar-button menu"></button>
            <button class="sidebar-button move"></button>
            <button class="sidebar-button star"></button>
            <button class="sidebar-button settings"></button>
            <button class="sidebar-button back"></button>
        </div>
        <div id="sidebar-footer"></div>
    </div>

    <div id="content-container">
        <div id="content-header">
          <div class="left-header">Обслуживание горелки</div>
          <div class="center-header"></div>
          <div class="right-header">
            <div><img src="img/weld-icon.png"></div>
            <div>X 215</div>
            <div>Y 380</div>
            <div>Z 0,6</div>
          </div>

        </div>
        <div id="content-center">
            <div class="button-container">
              <button class="get-back-button">
                <div class = "picture-container">
                  <img src="img/get-back.png">
                </div>
                <span>Подача назад</span>
              </button>
            </div>

            <div class="button-container">
              <button class="gas-test-button">
                <div class="picture-container">
                  <img src="img/gas-test.png">
                </div>
                <span>GAS тест</span>
              </button>
            </div>

            <div class="button-container">
              <button class="arc-test-button">
                <div class = "picture-container">
                  <img src="img/arc-test.png">
                </div>
                <span>ARC тест</span>
              </button>
            </div>

            <div class="button-container">
              <button class="get-forward-button">
                <div class = "picture-container">
                  <img src="img/get-forward.png">
                </div>
                <span>Подача вперед</span>
              </button>
            </div>

            <div class="button-container">
              <button class="zone-of-service-button">
                <div class = "picture-container">
                  <img src="img/zone-of-service.png">
                </div>
                <span>Зона обслуживания</span>
              </button>
            </div>

            <div class="button-container">
              <button class="error-drop-button">
                <div class = "picture-container">
                  <img src="img/error-drop.png">
                </div>
                <span>Сброс ошибок</span>
              </button>
            </div>

        </div>
        <div id="content-footer"></div>
    </div>

</body>

</html>