@import "@/layouts/base_layout/css/base_layout.scss";

.content-container.new-print-window {
    position: relative;
    margin-left: $sidebarWidth;
    height: 100%;
    // display: grid;
    grid-column: 1/3;
    // grid-template-rows: ($headerHeight auto);
    overflow-y: auto;
    min-height: $minHeight;
    padding: 0px 50px;
    min-height: 700px;

    .header {
        height: $headerHeight;
        display: flex;
        justify-content: space-between;

        .operation-and-warnings-container {
            display: flex;
            align-items: center;

            .operation-container {
                line-height: $headerHeight;
                // margin: 0px 50px;
                // margin-left: 50px;
                font-size: 20px;
                color: #C3C3C3;
            }

            span {
                margin-right: 23px;
                display: block;
                text-align: center;
                line-height: 35px;
                width: 153px;
                height: 35px;
                background: rgba(225, 1, 1, 0.72);
                border-radius: 4px;
                font-style: normal;
                font-weight: 700;
                font-size: 25px;

                color: #FFFFFF;

                &:first-of-type {
                    margin-left: 10px;
                }
            }
        }



        .coordinates-container {
            justify-self: end;
            color: white;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 50px;

            #x-coords {
                // margin: 0px 40px;

                &::before {
                    content: 'X\00a0';
                }
            }

            #y-coords {
                &::before {
                    content: 'Y\00a0';
                }
            }

            #z-coords {
                // margin: 0px 40px;

                &::before {
                    content: 'Z\00a0';
                }
            }
        }
    }

    .center {
        height: calc(100% - $headerHeight - $footerHeight);
        // display: grid;
        // grid-template-rows: 0.6fr 4.4fr;
        min-width: 800px;


        .center-content {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .rejim {
                // margin-top: 55px;
                // align-self: flex-end;

                span {
                    &:first-of-type {
                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #C3C3C3;
                    }

                    &:last-of-type {
                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 25px;

                        text-decoration-line: underline;

                        color: #FFFFFF;
                    }
                }
            }

            .buttons-div {
                display: flex;
                align-items: center;
                // justify-content: space-between;
                display: grid;
                grid-template-columns: 3fr 2fr;

                .print-params-buttons {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 320px;
                    // width: 60%;

                    .colorful-buttons,
                    .usual-buttons {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        justify-content: center;
                        align-items: center;
                        // margin-top: 11px;

                        button {
                            // height: 92px;
                            justify-self: center;
                            width: max-content;
                            background: none;
                            border: none;
                            cursor: pointer;
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            justify-content: center;
                            -webkit-tap-highlight-color: transparent;

                            .img-wrapper {
                                width: 100%;
                                height: 58px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                img {
                                    align-self: center;
                                    pointer-events: none;
                                    height: 10px;
                                }
                            }



                            span {
                                display: block;
                                align-self: center;

                                &:first-of-type {
                                    font-weight: 700;
                                    font-size: 50px;
                                    color: white;
                                }

                                &:last-of-type {
                                    margin-top: 11px;
                                    font-weight: 400;
                                    font-size: 20px;
                                    color: #C3C3C3;
                                }
                            }

                            .underline {
                                align-self: center;
                                margin-top: 7px;
                                height: 7px;
                                width: 117px;
                                background: #00B2CA;
                            }

                            &:active {
                                span {
                                    &:last-of-type {
                                        color: white;
                                    }
                                }
                            }
                        }

                    }

                    .print-params-span {
                        display: block;
                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #C3C3C3;
                    }
                }

                .big-round-button-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // width: 40%;

                    .big-round-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 304px;
                        height: 304px;
                        border: none;
                        border-radius: 50%;
                        // background: linear-gradient(326.69deg, #141414 18.34%, #353535 101.19%);
                        // box-shadow: 2px 2px 10px #000000, -2px -2px 10px #757474;
                        background: transparent;
                        background-image: url("@/layouts/new_print_layout/img/big_round_button.svg");
                        background-size: cover;
                        // border-radius: 50%;
                        position: relative;

                        svg {
                            position: absolute;
                            width: 304px;
                            height: 304px;
                            // border: solid 1px white;
                            border-radius: 50%;
                        }
                    }
                }

            }

            .filename-div {
                // align-self: flex-end;
                display: grid;
                grid-template-columns: 3fr 2fr;

                span {
                    text-align: center;
                    grid-column: 2;
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    color: #C3C3C3;
                }

            }
        }

        .footer-content {
            height: 20%;
            display: grid;
            grid-template-columns: 3fr 2fr;

            .print-info {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                div {
                    display: flex;
                    width: max-content;

                    span {
                        margin-left: 27px;
                        font-weight: 400;
                        font-size: 25px;
                        color: #C3C3C3;
                        white-space: nowrap;
                    }
                }
            }

            .small-buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .stop-button {
                    background: transparent;
                    border: none;
                    background-image: url('@/layouts/new_print_layout/img/stop.svg');
                    width: 194px;
                    height: 108px;
                    background-size: cover;

                    &:active {
                        background-image: url('@/layouts/new_print_layout/img/stop_active.svg');
                    }
                }

                .more-button {
                    background: transparent;
                    border: none;
                    background-image: url('@/layouts/new_print_layout/img/more.svg');
                    width: 194px;
                    height: 108px;
                    background-size: cover;

                    &:active {
                        background-image: url('@/layouts/new_print_layout/img/more_active.svg');
                    }
                }
            }
        }


    }

    .footer {
        height: $footerHeight;
    }
}