$headerHeight: 60px;  // Высоты, можно поредактировать как надо
$footerHeight: 60px;
$sidebarWidth: 110px;
$minHeight: 500px;

$mainBackground: url('../img/main_background.jpeg');  // Пути до картинок
$menuBtn: url('../img/menu.svg');
$menuBtnActive: url('../img/menu_active.svg');
$moveBtn: url('../img/move.svg');
$moveBtnActive: url('../img/move_active.svg');
$starBtn: url('../img/star.svg');
$starBtnActive: url('../img/star.svg');
$settingsBtn: url('../img/settings.svg');
$settingsBtnActive: url('../img/settings_active.svg');
$backBtn: url('../img/back.svg');
$backBtnActive: url('../img/back.svg');


* {
    padding: 0;
    margin: 0;
}

body {
    background-image: $mainBackground;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media (max-width: 767px) {
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}

#main-container {  // Общий контейнер
    display: flex;
    height: 100vh;
    width: 100%;
}

#sidebar {
    height: 100%;
    width: $sidebarWidth;
    display: grid;
    grid-template-rows: $headerHeight auto $footerHeight;
    min-height: $minHeight;
    box-shadow: 0px 5px 5px 5px black;
}

#sidebar-time-holder {  // sidebar-header
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: $headerHeight;
    color: white;
    height: $headerHeight;
}
 
#sidebar-footer {
    height: $footerHeight;
}

#sidebar-button-holder {  // Контейнер под кнопочки
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.sidebar-button {
    display: block;
    background: transparent;
}

.sidebar-button {
    border-radius: 0;
    border: none;

    &:hover {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    &.menu {
        background-image: $menuBtn;
        background-position: center;
        background-repeat: no-repeat;

        &:active {
            background-image: $menuBtnActive;
        }
    }

    &.move {
        background-image: $moveBtn;
        background-position: center;
        background-repeat: no-repeat;

        &:active {
            background-image: $moveBtnActive;
        }
    }

    &.star {
        background-image: $starBtn;
        background-position: center;
        background-repeat: no-repeat;

        &:active {
            background-image: $starBtnActive;
        }
    }

    &.settings {
        background-image: $settingsBtn;
        background-position: center;
        background-repeat: no-repeat;

        &:active {
            background-image: $settingsBtnActive;
        }
    }

    &.back {
        background-image: $backBtn;
        background-position: center;
        background-repeat: no-repeat;

        &:active {
            background-image: $backBtnActive;
        }
    }
}


#content-container {  // Контейнер справа от сайдбара
    width: 100%;
    height: 100%;
    min-height: $minHeight;
    display: grid;
    grid-template-rows: ($headerHeight auto $footerHeight);
}
