@import "@/layouts/base_layout/css/base_layout.scss";


.content-container.normal-console-layout {
    margin-left: $sidebarWidth;
    height: 100%;
    display: grid;
    grid-column: 1/3;
    grid-template-rows: (auto $footerHeight min-content);
    overflow-y: auto;

    min-height: $minHeight;
    background-color: black;

    .keyboard {
        background-color: red;
        width: 100%;
        height: 100px;
    }

    .console-logs-holder {
        overflow-y: auto;

        .log-holder {
            padding: 15px 50px;
            display: flex;
            align-items: center;

            span {
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                -webkit-tap-highlight-color: transparent;
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                color: #9A9A9A;

                &:first-of-type {
                    align-self: flex-start;
                    margin-right: 50px;
                }
            }
        }
    }

    .input-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            height: 45px;
            margin: 0px 50px;
            width: 100%;
            font-size: 25px;
            color: #9A9A9A;
            padding: 0px 20px;
            border-radius: 10px;
            outline: none;
            background-color: #D9D9D9;
        }
    }

    .keyboard-wrapper {
        padding: 0px 50px;
        

        /*
  Theme: myTheme1
*/
        .simple-keyboard.myTheme1 {
            background-color: black;
            border-radius: 0;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .simple-keyboard.myTheme1 .hg-button {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(66, 66, 66, 0.5);
            color: white;
            border: none;
        }

        .simple-keyboard.myTheme1 .hg-button:active {
            background: #1c4995;
            color: white;
        }

        #root .simple-keyboard.myTheme1+.simple-keyboard-preview {
            background: #1c4995;
        }
    }
}