<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/last_layout.css" rel="stylesheet" />
    <title>Перемещение / сдвиг / поворот</title>
</head>

<body>
    <div id="sidebar">
        <div id="sidebar-time-holder">12:39</div>
        <div id="sidebar-button-holder">
            <button class="sidebar-button menu"></button>
            <button class="sidebar-button move"></button>
            <button class="sidebar-button star"></button>
            <button class="sidebar-button settings"></button>
            <button class="sidebar-button back"></button>
        </div>
        <div id="sidebar-footer"></div>
    </div>
    <div id="content-container">
        <div id="content-header">
            <span>Перемещение / сдвиг / поворот</span>
        </div>
        <div id="content-center">
            <div id="left-container">
                <div id="polotno">
                    <img src="./img/polotno_for_moving.svg" alt="">
                </div>
                <div id="buttons-container">
                    <button>
                        <div class="img-wrapper">
                            <img src="./img/for_points.svg">
                        </div>

                        <span>По четырем точкам</span>
                    </button>
                    <button>
                        <div class="img-wrapper">
                            <img src="./img/pr_vvod.svg">
                        </div>
                        <span>Прямой ввод</span>
                    </button>

                </div>
            </div>

            <div id="right-container">
                <div id="upper">
                    <div class="checkbox-wrapper">
                        <span>Исходные</span>
                        <div class="custom-checkbox">
                            <div class="checkbox-point"></div>
                        </div>
                        <span>Целевые</span>
                    </div>

                    <div class="parameter-string">
                        <div class="wrapper"><img src="./img/a1.svg"></div>
                        <div class="button-and-coord-wrapper">
                            <button>
                                <img src="./img/keyboard.png">
                            </button>
                            <span class="coord-name">X</span>
                            <span class="coord-value">2999</span>
                        </div>
                    </div>

                    <div class="parameter-string">
                        <div class="wrapper">
                            <button>
                                <div class="img-wrapper">
                                    <img src="./img/selected.svg">
                                </div>
                                <span>Взять текущее</span>
                            </button>
                        </div>
                        <div class="button-and-coord-wrapper">
                            <button>
                                <img src="./img/keyboard.png">
                            </button>
                            <span class="coord-name">Y</span>
                            <span class="coord-value">2999</span>
                        </div>
                    </div>

                    <div class="parameter-string">
                        <div class="wrapper">
                            <button>
                                <div class="img-wrapper">
                                    <img src="./img/selected.svg">
                                </div>
                                <span>Взять текущее</span>
                            </button>
                        </div>
                        <div class="button-and-coord-wrapper">
                            <button>
                                <img src="./img/keyboard.png">
                            </button>
                            <span class="coord-name">Z</span>
                            <span class="coord-value">2999</span>
                        </div>
                    </div>
                </div>
                <div id="upper">
                    <div class="parameter-string">
                        <div class="wrapper"><img src="./img/a2.svg"></div>
                        <div class="button-and-coord-wrapper">
                            <button>
                                <img src="./img/keyboard.png">
                            </button>
                            <span class="coord-name">X</span>
                            <span class="coord-value">2999</span>
                        </div>
                    </div>

                    <div class="parameter-string">
                        <div class="wrapper">
                            <button>
                                <div class="img-wrapper">
                                    <img src="./img/selected.svg">
                                </div>
                                <span>Взять текущее</span>
                            </button>
                        </div>
                        <div class="button-and-coord-wrapper">
                            <button>
                                <img src="./img/keyboard.png">
                            </button>
                            <span class="coord-name">Y</span>
                            <span class="coord-value">2999</span>
                        </div>
                    </div>

                    <div class="parameter-string">
                        <div class="wrapper">
                            <button>
                                <div class="img-wrapper">
                                    <img src="./img/selected.svg">
                                </div>
                                <span>Взять текущее</span>
                            </button>
                        </div>
                        <div class="button-and-coord-wrapper">
                            <button>
                                <img src="./img/keyboard.png">
                            </button>
                            <span class="coord-name">Z</span>
                            <span class="coord-value">2999</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="content-footer"></div> -->
    </div>
</body>

</html>