<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/sdvig_povorot_scale.css" rel="stylesheet" />
    <title>Перемещение / сдвиг / поворот</title>
</head>

<body>
    <div id="sidebar">
        <div id="sidebar-time-holder">12:39</div>
        <div id="sidebar-button-holder">
            <button class="sidebar-button menu"></button>
            <button class="sidebar-button move"></button>
            <button class="sidebar-button star"></button>
            <button class="sidebar-button settings"></button>
            <button class="sidebar-button back"></button>
        </div>
        <div id="sidebar-footer"></div>
    </div>
    <div id="content-container">
        <div id="content-header">
            <span>Перемещение / сдвиг / поворот</span>
        </div>
        <div id="content-center">
            <div id="left-container">
                <div id="polotno">
                    <img src="./img/polotno_for_scale.svg" alt="">
                </div>
                <div id="buttons-container">
                    <button>
                        <div class="img-wrapper">
                            <img src="./img/for_points.svg">
                        </div>

                        <span>По четырем точкам</span>
                    </button>
                    <button>
                        <div class="img-wrapper">
                            <img src="./img/pr_vvod.svg">
                        </div>
                        <span>Прямой ввод</span>
                    </button>

                </div>
            </div>

            <div id="right-container">

                <div class="container-for-center-align">

                    <div class="container">
                        <div class="title">
                            <span>Сдвиг</span>
                            <button>
                                <div class="selected-img-wrapper">
                                    <img src="./img/selected.svg" alt="">
                                </div>
                                <span>Взять текущее</span>
                            </button>
                        </div>
                        <div class="parameter-string">
                            <button>
                                <div class="selected-img-wrapper">
                                    <img src="./img/keyboard.png" alt="">
                                </div>
                            </button>
                            <span class="coord-name">X</span>
                            <span class="coord-value">2999</span>
                        </div>

                        <div class="parameter-string">
                            <button>
                                <div class="selected-img-wrapper">
                                    <img src="./img/keyboard.png" alt="">
                                </div>
                            </button>
                            <span class="coord-name">Y</span>
                            <span class="coord-value">2999</span>
                        </div>


                        <div class="parameter-string">
                            <button>
                                <div class="selected-img-wrapper">
                                    <img src="./img/keyboard.png" alt="">
                                </div>
                            </button>
                            <span class="coord-name">Z</span>
                            <span class="coord-value">2999</span>
                        </div>
                    </div>


                    <div class="container">
                        <div class="title">
                            <span>Поворот</span>
                        </div>
                        <div class="parameter-string">
                            <button>
                                <div class="selected-img-wrapper">
                                    <img src="./img/keyboard.png" alt="">
                                </div>
                            </button>
                            <img class="coord-name" src="./img/rotate.png" alt="">
                            <span class="coord-value">-37.6°</span>
                        </div>
                    </div>

                    <div class="container">
                        <div class="title">
                            <span>Масштаб</span>
                        </div>
                        <div class="parameter-string">
                            <button>
                                <div class="selected-img-wrapper">
                                    <img src="./img/keyboard.png" alt="">
                                </div>
                            </button>
                            <img class="coord-name" src="./img/scale.png" alt="">
                            <span class="coord-value">1.0</span>
                        </div>
                    </div>

                </div>
                <!-- <div class="title">
                    <span>Сдвиг</span>
                    <button>
                        <img src="./img/selected.svg">
                        <span>Взять текущее</span>
                    </button>
                </div>

                <div class="parameter-string">
                    <div class="img-wrapper">
                        <img src="./img/keyboard.png">
                    </div>
                    <span class="coord-name">X</span>
                    <span class="coord-value">2999</span>
                </div>

                <div class="parameter-string">
                    <div class="img-wrapper">
                        <img src="" alt="">
                    </div>
                    <img class="coord-name" src="./img/rotate.png">
                    <span class="coord-value">-37.6°</span>
                </div> -->
            </div>
        </div>
        <!-- <div id="content-footer"></div> -->
    </div>
</body>

</html>