<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="system-info-screen-styles.css" rel="stylesheet" />
    <title>Окно системной информации</title>
</head>

<body>
    <div id="sidebar">
        <div id="sidebar-time-holder">12:39</div>
        <div id="sidebar-button-holder">
            <button class="sidebar-button menu"></button>
            <button class="sidebar-button move"></button>
            <button class="sidebar-button star"></button>
            <button class="sidebar-button settings"></button>
            <button class="sidebar-button back"></button>
        </div>
        <div id="sidebar-footer"></div>
    </div>

    <div id="content-container">
        <div class="system-screen-rows">
          <div class="screen-name">Информация о системе</div>
          <div class="xweld-logo"><img class="xweld-logo-img" src="img/xweld_logo.png" ></div>
          <div class="system-info-placeholder">*SYSTEM INFO PLACAEHOLDER*</div>
        </div>
    </div>

</body>

</html>