@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 110px auto;
  grid-template-rows: 1fr;
  background-image: url("../img/main_background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: 110px;
  display: grid;
  grid-template-rows: 60px auto 60px;
  min-height: 500px;
  box-shadow: 0px 5px 5px 5px black;
}
@media (max-height: 500px) {
  #sidebar {
    position: absolute;
  }
}

#sidebar-time-holder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  color: white;
  height: 60px;
}

#sidebar-footer {
  height: 60px;
}

#sidebar-button-holder {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.sidebar-button {
  display: block;
  background: transparent;
}

.sidebar-button {
  border-radius: 0;
  border: none;
}
.sidebar-button:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.sidebar-button.menu {
  background-image: url("../img/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-button.menu:active {
  background-image: url("../img/menu_active.svg");
}
.sidebar-button.move {
  background-image: url("../img/move.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-button.move:active {
  background-image: url("../img/move_active.svg");
}
.sidebar-button.star {
  background-image: url("../img/star.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-button.star:active {
  background-image: url("../img/star.svg");
}
.sidebar-button.settings {
  background-image: url("../img/settings.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-button.settings:active {
  background-image: url("../img/settings_active.svg");
}
.sidebar-button.back {
  background-image: url("../img/back.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-button.back:active {
  background-image: url("../img/back.svg");
}

#input-utils-main-container {
  min-height: 500px;
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 110px auto;
  grid-template-rows: 1fr;
  background: rgba(21, 21, 21, 0.9);
  display: none;
}
#input-utils-main-container #input-utils-container {
  overflow-y: auto;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
#input-utils-main-container #input-utils-container #input-info {
  padding: 10% 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10%;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part .holder {
  width: 500px;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:first-of-type .holder {
  align-self: flex-end;
  justify-self: center;
  max-width: 400px;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 2fr 3fr;
  gap: 10px;
  color: white;
  align-items: center;
  justify-items: center;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:first-of-type .holder #label-coord {
  font-size: 90px;
  grid-column: 1;
  grid-row: 1;
  color: rgb(109, 109, 109);
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:first-of-type .holder #label-value {
  font-size: 90px;
  grid-column: 2;
  grid-row: 1;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:first-of-type .holder #label-mills {
  font-size: 25px;
  grid-column: 2;
  grid-row: 2;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:last-of-type {
  grid-template-rows: 1fr;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:last-of-type .holder {
  justify-self: center;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:last-of-type .holder button {
  justify-self: center;
  align-self: center;
  width: 110px;
  height: 110px;
  background: none;
  border: none;
  color: rgb(199, 199, 199);
  font-size: 20px;
  display: grid;
  grid-template-rows: 80% 20%;
  align-items: center;
  justify-items: center;
  user-select: none;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:last-of-type .holder button:first-of-type {
  width: 120px;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:last-of-type .holder button span {
  display: block;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:last-of-type .holder button img {
  pointer-events: none;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:last-of-type .holder button:hover {
  cursor: pointer;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:last-of-type .holder button:active:first-of-type {
  color: white;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:last-of-type .holder button:active:first-of-type img {
  content: url("../img/keyboard_button_active.svg");
  width: 110%;
  height: 110%;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:last-of-type .holder button:active:last-of-type {
  color: white;
}
#input-utils-main-container #input-utils-container #input-info .input-info-part:last-of-type .holder button:active:last-of-type img {
  content: url("../img/valcoder_active.png");
  width: 90%;
  height: 110%;
}
#input-utils-main-container #input-utils-container #keyboard-input-resources {
  display: flex;
  align-items: center;
  justify-content: center;
}
#input-utils-main-container #input-utils-container #keyboard-input-resources #keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  width: 400px;
  height: 500px;
  justify-items: center;
  align-items: center;
}
#input-utils-main-container #input-utils-container #keyboard-input-resources #keyboard button {
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  border: 2px solid rgb(199, 199, 199);
  filter: drop-shadow(2px 2px 10px #000000) drop-shadow(-2px -2px 10px #757474);
}
#input-utils-main-container #input-utils-container #keyboard-input-resources #keyboard button:active {
  border-color: white;
}
#input-utils-main-container #input-utils-container #keyboard-input-resources #keyboard button img {
  pointer-events: none;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder {
  height: 450px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder img {
  align-self: flex-start;
  justify-self: center;
  width: 460px;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder #valcoder-circle-holder {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder #valcoder-circle {
  position: relative;
  max-height: 360px;
  max-width: 360px;
  height: 100%;
  width: 100%;
  background-image: url("../img/valcoder_logo.png"), linear-gradient(rgb(34, 34, 34), rgb(51, 51, 51));
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  box-shadow: -4px -4px 4px 0px rgba(163, 163, 163, 0.39), 10px 10px 4px 0px rgba(0, 0, 0, 0.67);
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder #valcoder-circle #valcoder-point {
  position: absolute;
  height: 13%;
  width: 13%;
  border-radius: 50%;
  left: 8%;
  top: 60%;
  background-color: #383838;
  box-shadow: inset 6px 6px 6px rgba(12, 12, 12, 0.62), inset -6px -6px 4px rgba(101, 101, 101, 0.38);
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder #valcoder-circle:hover {
  transform: rotate(-0.25turn);
  cursor: pointer;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder #plus-minus-holder {
  padding-top: 20px;
  width: 460px;
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder #plus-minus-holder span {
  display: block;
  color: rgb(109, 109, 109);
  font-size: 40px;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder #plus-minus-holder span:first-of-type {
  justify-self: flex-start;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder #plus-minus-holder span:last-of-type {
  justify-self: flex-end;
  padding-right: 5px;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #confirm-buttons {
  display: flex;
  justify-content: center;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #confirm-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(195, 195, 195);
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #confirm-buttons button:first-of-type {
  margin-right: 60px;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #confirm-buttons button:active {
  color: white;
}
#input-utils-main-container #input-utils-container #valcoder-input-resources #confirm-buttons button span {
  padding-top: 5px;
  display: block;
  font-size: 20px;
}
@media (max-height: 600px) {
  #input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder {
    height: 390px;
  }
  #input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder img {
    width: 400px;
  }
  #input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder #valcoder-circle {
    max-height: 300px;
    max-width: 300px;
  }
  #input-utils-main-container #input-utils-container #valcoder-input-resources #valcoder #plus-minus-holder {
    width: 400px;
  }
  #input-utils-main-container #input-utils-container #valcoder-input-resources #confirm-buttons img {
    height: 60px;
  }
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
  z-index: 4;
}

#content-container {
  margin-left: 110px;
  height: 100%;
  display: grid;
  grid-column: 1/3;
  grid-template-rows: 60px auto;
  overflow-y: auto;
  min-height: 500px;
}

#content-header {
  display: grid;
  grid-template-columns: auto auto;
  min-width: 900px;
}

#operation-container {
  line-height: 60px;
  color: white;
  margin: 0px 50px;
  font-size: 20px;
}

#coordinates-container {
  justify-self: end;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#coordinates-container #x-coords {
  margin: 0px 40px;
}
#coordinates-container #x-coords::before {
  content: "X ";
}
#coordinates-container #y-coords::before {
  content: "Y ";
}
#coordinates-container #z-coords {
  margin: 0px 40px;
}
#coordinates-container #z-coords::before {
  content: "Z ";
}

#content-center {
  padding-top: 20px;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-columns: 1fr;
}
#content-center #buttons-container {
  display: grid;
  column-gap: 5px;
  grid-template-columns: 1.5fr 2fr 2fr 2fr;
  grid-template-rows: 1fr;
  margin: 0px 5px;
}
#content-center #buttons-container #two-control-buttons {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#content-center #buttons-container #two-control-buttons button {
  height: 80%;
  width: 120px;
  max-height: 137px;
  display: grid;
  grid-template-rows: 80% 20%;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  color: #C7C7C7;
}
#content-center #buttons-container #two-control-buttons button span {
  display: block;
  font-size: 20px;
}
#content-center #buttons-container #two-control-buttons button img {
  width: 100%;
  min-height: 100%;
}
#content-center #buttons-container #two-control-buttons button:hover {
  color: #ddd7d7;
}
#content-center #buttons-container #two-control-buttons button:active {
  color: white;
}
#content-center #buttons-container #two-control-buttons button img {
  pointer-events: none;
  margin-bottom: 10px;
}
#content-center #buttons-container #two-control-buttons button:first-of-type {
  margin-top: 15px;
  align-self: start;
  justify-self: center;
}
#content-center #buttons-container #two-control-buttons button:last-of-type {
  align-self: end;
  justify-self: center;
  margin-bottom: 15px;
}
#content-center #buttons-container .big-coord-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}
#content-center #buttons-container .big-coord-button img {
  width: 100%;
  min-height: 100%;
  pointer-events: none;
}
#content-center #buttons-container .big-coord-button .coord-label {
  position: absolute;
  color: white;
  font-size: 60px;
  font-weight: 700;
  z-index: 1;
}
#content-center #buttons-container .big-coord-button .over {
  z-index: 2;
  position: absolute;
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1f;
}
#content-center #buttons-container .big-coord-button .over.transposed {
  grid-template-columns: 1fr;
  grid-template-rows: 1f 1fr;
}
#content-center #buttons-container .big-coord-button .over button {
  border: none;
  border-radius: 20px;
  background: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
#content-center #buttons-container .big-coord-button .over .big-minus-button {
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#content-center #buttons-container .big-coord-button .over .big-minus-button.x {
  background-position: 18%;
}
#content-center #buttons-container .big-coord-button .over .big-minus-button:active {
  background-image: url("../img/minus_active.svg");
}
#content-center #buttons-container .big-coord-button .over .big-plus-button {
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#content-center #buttons-container .big-coord-button .over .big-plus-button.x {
  background-position: 82%;
}
#content-center #buttons-container .big-coord-button .over .big-plus-button:active {
  background-image: url("../img/plus_active.svg");
}
#content-center #lables-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr 2fr;
  grid-template-rows: 1fr;
}
#content-center #lables-container .coord-label-div {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-column-gap: 5px;
}
#content-center #lables-container .coord-label-div button {
  background: none;
  border: none;
  height: 60%;
  width: 60%;
  align-self: center;
  justify-self: center;
  min-height: 25px;
  min-width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}
#content-center #lables-container .coord-label-div button:active img {
  width: 125%;
  height: 125%;
  content: url("../img/keyboard_button_active.svg");
}
#content-center #lables-container .coord-label-div button img {
  pointer-events: none;
  width: 100%;
}
#content-center #lables-container .coord-label-div span:first-of-type {
  grid-column: 2;
  grid-row: 1;
  color: white;
  font-size: 60px;
  font-weight: 700;
  justify-self: center;
  align-self: center;
}
@media (max-height: 600px) {
  #content-center #lables-container .coord-label-div span:first-of-type {
    font-size: 45px;
  }
}
#content-center #lables-container .coord-label-div span:last-of-type {
  grid-column: 2;
  grid-row: 2;
  color: #C7C7C7;
  font-size: 15px;
  justify-self: center;
  align-self: center;
}
#content-center #lables-container .coord-label-div.x {
  grid-column: 2;
}
#content-center #lables-container .coord-label-div.y {
  grid-column: 3;
}
#content-center #lables-container .coord-label-div.z {
  grid-column: 4;
}
#content-center #scrollbar-container {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  grid-template-columns: 1fr;
  margin: 0 50px;
  margin-bottom: 10px;
}
#content-center #scrollbar-container span:first-of-type {
  color: white;
  font-size: 20px;
}
@media (max-height: 600px) {
  #content-center #scrollbar-container span:first-of-type {
    font-size: 18px;
  }
}
#content-center #scrollbar-container input[type=range] {
  -webkit-appearance: none;
  align-self: center;
  background-image: linear-gradient(#5E5E5E, #353535, #5E5E5E, #000000);
  border: 2px solid black;
  box-shadow: -6px -6px 10px 0px rgba(117, 116, 116, 0.44);
  border-radius: 7.5px;
  height: 15px;
  width: 100%;
}
@media (max-height: 600px) {
  #content-center #scrollbar-container input[type=range] {
    height: 10px;
  }
}
#content-center #scrollbar-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(#656565, #C1C1C1);
  border: 2px solid black;
  box-shadow: -6px -6px 10px 0px rgba(117, 116, 116, 0.44);
  cursor: pointer;
}
@media (max-height: 600px) {
  #content-center #scrollbar-container input[type=range]::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
  }
}
#content-center #scrollbar-container #values {
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
}
#content-center #scrollbar-container #values span {
  user-select: none;
  align-self: self-start;
  justify-self: center;
  display: block;
  color: white;
  font-size: 20px;
}
@media (max-height: 600px) {
  #content-center #scrollbar-container #values span {
    font-size: 18px;
  }
}

/*# sourceMappingURL=move_layout.css.map */
