* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 110px auto;
  grid-template-rows: 1fr;
  background-image: url(img/main_background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: 110px;
  display: grid;
  grid-template-rows: 60px auto 60px;
  min-height: 500px;
  box-shadow: 0px 5px 5px 5px black;
}

@media (max-height: 500px) {
  #sidebar {
    position: absolute;
  }
}

#sidebar-time-holder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  color: white;
  height: 60px;
}

#sidebar-footer {
  height: 60px;
}

#sidebar-button-holder {
  display: grid;
  grid-template-rows: repeat(5, 1fr);

}

.sidebar-button {
  display: block;
  background: transparent;
}

.sidebar-button {
  border-radius: 0;
  border: none;
}
.sidebar-button:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.sidebar-button.menu {
  background-image: url("img/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-button.menu:active {
  background-image: url("img/menu_active.svg");
}
.sidebar-button.move {
  background-image: url("img/move.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-button.move:active {
  background-image: url("img/move_active.svg");
}
.sidebar-button.star {
  background-image: url("img/star.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-button.star:active {
  background-image: url("img/star_active.svg");
}
.sidebar-button.settings {
  background-image: url("img/settings.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-button.settings:active {
  background-image: url("img/settings_active.svg");
}
.sidebar-button.back {
  background-image: url("img/back.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-button.back:active {
  background-image: url("img/back_active.svg");
}

.content-container {
  margin-left: 110px;
  height: 100%;
  display: grid;
  grid-column: 1/3;
  grid-template-rows: 1fr 1fr;
  overflow-y: auto;
  background-image: url(img/console_background.png);
  row-gap: 50px;
}

.console-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;

}

.written-text {
  font-size: 25px;
  color: #9A9A9A;
  height: 50px;
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 20px;
  margin-bottom: 20px;
  
}

.text-placeholder {
  flex: 1;
  font-size: 25px;
  color: #9A9A9A;
  padding-left: 50px;
  padding-right: 20px;
}

.command-input-field {
  margin-right: 50px;
  margin-left: 50px;
}

.command-input-field input{
  height:50px;
  width: 100%;
  font-size: 25px;
  color: #9A9A9A;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  outline: none;
  background-color: #D9D9D9;
  
  
}


