// @import './base_layout.scss';
@import "@/layouts/base_layout/css/base_layout.scss";

@import './print_settings_layout.scss';


$minHeight: 615px; // Переопределено

#sidebar {
    // Переопределено
    min-height: $minHeight;

    @media (max-height: $minHeight) {
        position: absolute;
    }
}


.content-container.printing-window {
    // Контейнер справа от сайдбара
    // Переопределено
    position: relative;
    margin-left: $sidebarWidth;
    height: 100%;
    display: grid;
    grid-column: 1/3;
    grid-template-rows: ($headerHeight auto);
    overflow-y: auto;
    min-height: $minHeight;

    button {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
    }

    #content-header {
        display: grid;
        grid-template-columns: auto auto;
        min-width: 900px;

    }

    .operation-and-warnings-container {
        display: flex;
        align-items: center;

        .operation-container {
            line-height: $headerHeight;
            // margin: 0px 50px;
            margin-left: 50px;
            font-size: 20px;
            color: #C3C3C3;
        }

        span {
            margin-right: 23px;
            display: block;
            text-align: center;
            line-height: 35px;
            width: 153px;
            height: 35px;
            background: rgba(225, 1, 1, 0.72);
            border-radius: 4px;
            font-style: normal;
            font-weight: 700;
            font-size: 25px;

            color: #FFFFFF;

            &:first-of-type {
                margin-left: 10px;
            }
        }
    }



    .coordinates-container {
        justify-self: end;
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #x-coords {
            margin: 0px 40px;

            &::before {
                content: 'X\00a0';
            }
        }

        #y-coords {
            &::before {
                content: 'Y\00a0';
            }
        }

        #z-coords {
            margin: 0px 40px;

            &::before {
                content: 'Z\00a0';
            }
        }
    }

    #content-center {
        padding-left: 60px;
        padding-right: 40px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-around;

        display: grid;
        grid-template-rows: 1fr 4fr $footerHeight;

        #rejim {
            align-self: center;

            span {
                &:first-of-type {
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    color: #C3C3C3;
                }

                &:last-of-type {
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 25px;

                    text-decoration-line: underline;

                    color: #FFFFFF;
                }
            }
        }

        #kostyl {
            display: grid;
            grid-template-rows: auto auto;
            grid-row: 2/4;




            #parameters-and-tetka {
                height: 314px;
                display: flex;
                justify-content: space-between;

                #parameters-holder {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 60%;

                    .usual-holder {
                        &:not(:first-of-type) {
                            .tree-buttons-holder {
                                margin-top: 22px;

                            }
                        }

                        span {
                            &:first-child {
                                margin: 0px 11px;
                                font-weight: 400;
                                font-size: 25px;
                                color: white;
                                font-weight: 400;
                                font-size: 25px;
                                color: #C3C3C3;
                            }
                        }

                        .tree-buttons-holder {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            justify-content: center;
                            align-items: center;
                            // margin-top: 11px;

                            button {
                                // height: 92px;
                                justify-self: center;
                                width: max-content;
                                background: none;
                                border: none;
                                cursor: pointer;
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                justify-content: center;

                                .img-wrapper {
                                    width: 100%;
                                    height: 58px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    img {
                                        align-self: center;
                                        pointer-events: none;
                                        height: 10px;
                                    }
                                }



                                span {
                                    display: block;
                                    align-self: center;

                                    &:first-of-type {
                                        font-weight: 700;
                                        font-size: 50px;
                                        color: white;
                                    }

                                    &:last-of-type {
                                        margin-top: 11px;
                                        font-weight: 400;
                                        font-size: 20px;
                                        color: #C3C3C3;
                                    }
                                }

                                .underline {
                                    align-self: center;
                                    margin-top: 7px;
                                    height: 7px;
                                    width: 117px;
                                    background: #00B2CA;
                                }

                                &:active {
                                    span {
                                        &:last-of-type {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }


            }

            #progress-bar {
                align-self: center;
                height: 129px;
                // display: grid;
                // grid-template-columns: 1fr 3fr;
                display: flex;
                justify-content: space-between;
                // padding-bottom: 72px;

                #buttons-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 250px;

                    span {
                        font-weight: 400;
                        font-size: 25px;
                        color: #C3C3C3;
                    }

                    div {
                        display: flex;
                        justify-content: space-between;

                        button {
                            cursor: pointer;
                            user-select: none;

                            background: none;
                            border: none;
                            width: 73px;
                            height: 73px;
                            background: linear-gradient(326.69deg, #141414 18.34%, #353535 101.19%);
                            box-shadow: 2px 2px 10px #000000, -2px -2px 10px #757474;
                            border-radius: 50%;
                            // border: 2px solid black;

                            img {
                                pointer-events: none;
                            }

                            &.active,
                            &:active {
                                // border: 2px solid white;

                                #resume {
                                    content: url('@/layouts/print_layout/img/resume_active.svg');
                                    filter: drop-shadow(0px 0px 10px white);
                                    
                                }

                                #pause {
                                    content: url('@/layouts/print_layout/img/pause_active.svg');
                                    filter: drop-shadow(0px 0px 10px white);
                                }

                                #points {
                                    content: url('@/layouts/print_layout/img/points_active.svg');
                                    filter: drop-shadow(0px 0px 10px white);
                                }

                                // img {
                                //     filter: drop-shadow(0px 0px 10px white);
                                // }
                            }
                        }
                    }
                }

                #progress-bar-wrapper {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    span:first-child {
                        font-weight: 400;
                        font-size: 25px;
                        color: #C3C3C3;
                    }

                    #progress-bar-impl {
                        width: 100%;
                        height: 23px;
                        background: linear-gradient(326.69deg, #141414 18.34%, #353535 101.19%);
                        box-shadow: 6px 6px 10px #000000, -6px -6px 10px rgba(117, 116, 116, 0.44);
                        border-radius: 63px;
                        display: flex;
                        align-items: center;

                        div {
                            margin: 0 10px;
                            height: 9px;
                            background: linear-gradient(90deg, #0047B3 0%, rgba(0, 224, 255, 0.63) 100%);
                            border-radius: 5px;
                            width: 1%;
                        }
                    }

                    #progress-status {
                        display: flex;
                        justify-content: space-between;

                        div {
                            display: flex;
                            width: max-content;

                            span {
                                margin-left: 17px;
                                font-weight: 400;
                                font-size: 25px;
                                color: #C3C3C3;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
}